/* Global Rules start */
:root {
  --main-color: hsl(25, 97%, 53%);
  --light-gray: hsl(217, 12%, 63%);
  --medium-gray: hsl(216, 12%, 54%);
  --dark-blue: hsl(215, 20%, 17%);
  --darker-blue: hsl(215, 27%, 12%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --desaturated-dark-blue: hsl(210, 19%, 18%);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Overpass", sans-serif;
  background-color: var(--very-dark-blue);
  color: white;
  min-height: 100vh;
}
button {
  font-family: "Overpass", sans-serif;
  text-transform: uppercase;
  color: white;
  background-color: var(--main-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  border-radius: 45px;
  font-size: 15.5px;
  letter-spacing: 2px;
  border: none;
  padding-top: 1px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
button:hover {
  background-color: white;
  color: var(--main-color);
}
p {
  font-size: 15px;
  color: var(--medium-gray);
  line-height: 1.5;
}
h1 {
  font-size: 28px;
  margin-bottom: 5px;
}
/* Global Rules end */
/* Rating state start */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}
.card {
  background-color: var(--dark-blue);
  background: radial-gradient(
    circle at top,
    var(--dark-blue),
    var(--darker-blue)
  );
  width: 410px;
  height: 410px;
  padding: 30px;
  border-radius: 30px;
  position: relative;
}
.rating-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  position: absolute;
  top: 30px;
  left: 30px;
  transition: opacity 0.3s;
}
.star {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--desaturated-dark-blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.rating {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.rating div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--desaturated-dark-blue);
  color: var(--medium-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.rating .inactive:hover {
  background-color: var(--light-gray);
  color: white;
}
.rating .active {
  background-color: var(--main-color);
  color: white;
}
/* Rating state end */
/* Thank you state start */
.thank-you {
  position: absolute;
  width: calc(100% - 60px);
  height: calc(100% - 95px);
  top: 45px;
  left: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.thank-you h1,
.thank-you p {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.selected-rating {
  background-color: var(--desaturated-dark-blue);
  color: var(--main-color);
  font-size: 15px;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding-top: 2px;
}
@media (max-width: 477px) {
  .card {
    border-radius: 15px;
    height: 350px;
  }
  .star {
    transform: scale(0.9);
    position: relative;
    top: -5px;
    left: -5px;
  }
  .rating-section {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    top: 25px;
    left: 25px;
  }
  h1 {
    font-size: 23px;
    margin-bottom: 15px;
  }
  p {
    font-size: 13.7px;
  }
  .rating div {
    width: 40px;
    height: 40px;
    font-size: 13.7px;
    padding-top: 2px;
  }
  button {
    font-size: 14px;
  }
  .thank-you {
    width: calc(100% - 50px);
    height: calc(100% - 75px);
    top: 35px;
    left: 25px;
  }
  .thank-you h1 {
    margin-bottom: 10px;
  }
  .thank-you img {
    width: 146px;
  }
  .selected-rating {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13.7px;
  }
}
/* Thank you state end */
/* Attribution start */
.attribution {
  position: absolute;
  font-size: 12px;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.attribution a {
  display: inline-block;
  color: var(--main-color);
  text-decoration: none;
  position: relative;
}
.attribution a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: all 0.3s;
}
.attribution a:hover::before {
  width: 100%;
  left: 0;
}
/* Attribution end */
